/**** Propiedades comunes ****/
p {color: #333333;}

a {
    text-decoration: none;
    color: #2a4b77;
}

/**** BODY ****/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* en el ancho incluye el borde , el padding y el relleno */
    font-family: Arial, Helvetica, sans-serif;
}

/**** HEADER ****/
header {
    --height: 3em; /*es una variable*/
    position: relative;
    width: 100%;
    height: var(--height);
}

.enlace {
    /*Para que el elemento iniciar_sesion no se ponga en frente del enlace del logo*/
    z-index:1;
}

#iniciar_sesion {
    color: #c2d2d2;
    position: absolute;
    top: 1em;
    left: 8em;
    z-index:0;
}

#iniciar_sesion a {
    color: #879ad3;
}

#iniciar_sesion a:hover {
    color: #c8d6ff;
    text-decoration: underline;
    cursor: pointer;
}


    /**** NAVEGACION ****/
header nav, footer nav{
    background-color: #322d24;
    height: 3em;
    width: 100%; 
}
.enlace{
    position: absolute;
    top:0.5em;
    bottom: 0.5em;
    left: 3em;
    height: 2em;
}

.logo{
    height: 2em;
}

header nav ul, footer nav ul{
    z-index: 1;
    float: right;
    margin-right: 4.8em;
}

header nav ul li, footer nav ul li{
    display: inline-block;
    line-height: 3em;
    text-align: center;
    color:#c2c2c2;
    cursor: pointer;
}

header nav ul a, footer nav ul a{
    color:inherit;
    font-size:1em;
    padding:0.5em;
    text-transform:uppercase;
}

/* el boton de inicio */
a.active{
    background: #2a4b77;
    color: #c2c2c2;
    border-radius: 3px;
}

header nav ul li:hover,footer nav ul li:hover {
    background:#6d7c71;
    color:#b8ffb5;
}

header nav ul li:hover > a.active,footer nav ul li:hover > a.active{
    background:none;
    color:#b8ffb5;
}

    /* menu desplegable */
    header nav ul ul{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        padding:0;
    }
    #desplegable {
        position: relative;
    }

    #desplegable:hover ul{
        background-color:#322d24;
        display:block;
    }

    header nav ul ul li {
        width:8em;
        color:#c2c2c2;
    }

    header nav ul ul a {
        color:inherit;
    }

    header nav ul ul li:hover{
        color:#b8ffb5;
    }

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 0;
    margin-top: 0.35em;
    margin-right: 0.5em;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*version tablet*/
@media (max-width:952px){

    .enlace{
        left: 1em;
    }

    header nav ul,footer nav ul{
        margin-right: 3.5em;
    }

    header nav ul li a,footer nav ul li a{
        font-size: 0.7em;
        transition: 0s;
        letter-spacing:0.1em;
        font-weight: bold;
    }

    header nav li, footer nav li{
        height: 3em;
    }

    header nav ul ul li{
        width: 6em;
    }
}

/*version movil*/
@media (max-width: 858px){

    #iniciar_sesion {
        top: 1.7em;
        left:10%;
        padding-left: 50px;
        font-size: 0.7em;
    }

    .checkbtn{
        display: block;
    }
    header ul,footer ul{
        position:fixed;
        width: 100%;
        height: calc(100vh - 48px);
        background:#afdcff;
        top: 3em;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header nav ul li,footer nav ul li{
        display: block;
        line-height: 3em;
        color: #243142;
    }

    header nav ul li a,footer nav ul li a{
        transition: 0s;
    }

    header nav ul li:hover,footer nav ul li:hover{
        background: #40515f;
        color: #fff;
    }

    header nav ul li:hover > a.active,footer nav ul li:hover > a.active{
        background: none;
        color: #fff;
    }

    header nav ul li a,footer nav ul li a{
        font-size: 1em;
        color: inherit;
    }

    #desplegable ul{
        cursor: initial;
    }

    #desplegable:hover ul{
        background-color:#afdcff;
    }

    header nav ul ul li{
        width: 100%;
        color:#243142;
    }

    header nav ul ul a {
        color:inherit;
    }

    header nav ul ul li:hover{
        background:#40515f;
        color: #fff;
    }

    #check:checked ~ ul{
        left:0;
    }
}

/**** FOOTER ****/
#sectionRRSS {
    text-align: center;
    padding-right: 1.5em;
}

#sectionRRSS img{
    width: 80px;
    margin: 0px 5%;
}

/*media para los logos de redes sociales*/
@media (max-width: 648px){
    #sectionRRSS img{
        margin: 20px 15%;
    }
}
@media (max-width: 590px){
    #sectionRRSS img{
        margin: 20px 10%;
    }
}

footer nav {
    text-align: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 858px){
    footer nav{
        height: 0;
    }
}

footer nav ul {
    padding: 0em;
}

footer nav li {
    display: inline-block;
    font-size: 0.9em;
    height: 48px;
}

footer li a{
    line-height: 48px;
}